extends layout

block content
  h1 #{title}: #{author.name}
  p #{author.birthDay} - #{author.deathDay}
  if author.date_of_birth && author.date_of_death
    p= `享年： ${author.lifespan}`
  
  if author_books.length
  
    p #[strong 刪除此作者之前，請先移除此作者的所有書籍。]
  
    div(style='margin-left:20px;margin-top:20px')

      h4 「#{author.name}」的書籍如下：
    
      dl
      each book in author_books
        dt 
          a(href=book.url) #{book.title}
        dd #{book.summary}

  else
    p 確定要刪除此作者的資料嗎？
    
    form(method='POST' action='')
      div.form-group
        input#authorid.form-control(type='hidden',name='authorid', required='true', value=author._id )

      button.btn.btn-primary(type='submit') 確認刪除