extends layout

block content

  h1 作者： #{author.name}
  if author.birthDay || author.deathDay
    |  (#{author.birthDay} - #{author.deathDay}) 
  else
    | 生卒年不詳   
    
  div(style='margin-left:20px;margin-top:20px')

    h4 書籍：
    
    dl
      each book in author_books
        dt 
          a(href=book.url) #{book.title}
        dd #{book.summary}

      else
        p 本館尚未有該作者的藏書，欲提供者請與本館聯絡，萬分感謝。

    hr
    p
      a(href=author.url+'/delete') 刪除作者資料
    p
      a(href=author.url+'/update') 更新作者資料