extends layout

block content
  h1= title
  
  ul
    each author in author_list
      li 
        a(href=author.url) #{author.name} 
        |  (#{author.birthDay} - #{author.deathDay}) 

    else
      li 目前本館沒有任何作者的藏書，持續擴建中，敬請期待。