extends layout

block content
  h1 #{title}: #{book.title}
  
  if book_bookinstances.length
  
    p #[strong 刪除此書籍之前，請先移除此書籍的所有現存藏書資訊。]
  
    div(style='margin-left:20px;margin-top:20px')

      h4 「#{book.title}」館藏資訊如下：
    
      dl
      each bookinstance in book_bookinstances
        dt 
          a(href=bookinstance.url) #{book.title}
        dd #{bookinstance.imprint}

  else
    p 確定要刪除「#{book.title}」嗎？
    
    form(method='POST' action='')
      div.form-group
        input#bookid.form-control(type='hidden',name='bookid', required='true', value=book._id )

      button.btn.btn-primary(type='submit') 確認刪除