extends layout

block content

  h1 ID: #{bookinstance._id}
  
  p #[strong 書名：] 
    a(href=bookinstance.book.url) #{bookinstance.book.title}
  p #[strong 出版商：] #{bookinstance.imprint}

  p #[strong 書本狀態：] 
    if bookinstance.status=='Available'
      span.text-success #{bookinstance.status}
    else if bookinstance.status=='Maintenance'
      span.text-danger #{bookinstance.status}
    else
      span.text-warning #{bookinstance.status} 
      
  if bookinstance.status!='Available'
    p #[strong 歸還日期：] #{bookinstance.dueBackFormatted}
    
  hr
  p
    a(href=bookinstance.url+'/delete') 刪除藏書資訊
  p
    a(href=bookinstance.url+'/update') 更新藏書資訊