extends layout

block content
  h1 #{title}: #{genre.name}
  
  if genre_books.length
  
    p #[strong 刪除此類別之前，請先移除包含此類別的所有書籍。]
  
    div(style='margin-left:20px;margin-top:20px')

      h4 類別「#{genre.name}」現有的書籍如下：
    
      dl
      each book in genre_books
        dt 
          a(href=book.url) #{book.title}
        dd #{book.summary}

  else
    p 確定要刪除類別「#{genre.name}」嗎？
    
    form(method='POST' action='')
      div.form-group
        input#genreid.form-control(type='hidden',name='genreid', required='true', value=genre._id )

      button.btn.btn-primary(type='submit') 確認刪除