extends layout

block content

  p 歡迎來到 #[em 歐杯的圖書世界]～ 這裡是透過 !{'<a href="https://developer.mozilla.org/en-US/docs/Learn/Server-side/Express_Nodejs/Tutorial_local_library_website"> MDN的教學課程 </a>'} 學習使用 Express 框架來建立一個圖書館網站的成品展示。
 
  if user.first_name
    h1 !{user.first_name} 的個人頁面：
  else
    h1 !{user.username} 的個人頁面：

  p 姓名： !{user.first_name}, !{user.family_name}
  p Email: !{user.email}

  hr
  form(method='get' action='/users/logout')
      
    button.btn.btn-primary(type='submit') 登出